body{
  margin: 30px;
}
.parent{
  display: grid;
  grid-template: repeat(3, 150px)/repeat(3,150px);
  margin: auto;
  justify-content: center;
}

.start{
  display: grid;
  grid-template-columns: 200px 150px;
  margin:auto;
  justify-content: center;
}

.start>div{
  display:grid;
  place-items: center;
}

div.space>i{
  font-size: 100%;
}

.parent>div{
  border-style: solid;
  border-color: black;
  display: grid;
  place-items: center;

}

.hidden{
  display:none;
}
.center{
  text-align:center;
}